<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>iChing.ng</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

  <body ng-app="myApp">

    <script src="ichingController.js"></script>
<!-- <script src="./iching-data.js"></script> -->

    <div ng-controller="iChingCtrl" ng-init="rbThrow.value='ThrowEach'">

      <button class="tablink" ng-click="selTab=0" ng-init="selTab='0'">iChing</button>
      <button class="tablink" ng-click="selTab=1">Explore</button>
      <button class="tablink" ng-click="selTab=2">About</button>
      &nbsp;&nbsp;
      <div  class="tablink">
        <label id="lbllookup" for="lookup">Default Lookup Hexagrams:</label>
        <select name="lookup" ng-model="iChingWeb" ng-init="iChingWeb=0"
                ng-options="iChing.id as iChing.Short for iChing in iChingInfo">
        </select>
      </div>
      <br><br>

      <div ng-show="selTab == '0'">
        <table class="listChings">
          <tr ng-repeat="x in divinations track by $index" class="listChing">

              <!-- The buttons card displays differently in the first row vs later rows -->
              <td class="card buttons">

              <!-- This format is used in the first row, lots of buttons for doing new throws -->
              <div ng-show="$index == '0'">
                <input type="radio" ng-model="rbThrow.value" value="ThrowEach">Each line<br>
                <input type="radio" ng-model="rbThrow.value" value="ThrowAll">All at once<br>
                <button id="btnThrow" ng-click="ThrowCoins()">Throw Coins</button><br>
                <br>
                <button ng-show="divinations[0].coins[0] != ''" ng-click="clearDivination()">Clear</button><br>
                <button ng-show="divinations[0].coins[5] != ''" ng-click="saveDivination()">Save</button>

                <div ng-show="divinations.length > 1">
                  <br>{{ divinations.length-1 }} saved (below)
                </div>
              </div>

              <!-- This format is used in the additional rows for saved throws, only needs delete button -->
              <div ng-show="$index > '0'">
                <button ng-click="deleteDivination($index)">Delete</button><br>
                <br><br><br><br><br>#{{ $index }} of {{ divinations.length-1 }} saved
              </div>
            </td>

            <td class="card question">
              <table><tr>
                <td>
                  <!-- first row only, editable textarea to enter questions -->
                  <div ng-show="$index == '0'">
                    My Question:<br>
                    <textarea type="text" class="boxQuestion" ng-model="x.question.value" spellcheck="false" data-gramm="false" placeholder='Enter your question here and click "Throw Coins"'></textarea><br>
                  </div>

                  <!-- for saved throws, readonly textarea (for now) -->
                  <div ng-show="$index > '0'">
                    My question was:<br>
                    <textarea readonly type="text" class="boxQuestion" ng-model="x.question.value" spellcheck="false" data-gramm="false"></textarea><br>
                  </div>

                  <br>
                  <!-- for saved throws, show time of throw -->
                  <div ng-show="$index >= '0'">
                    {{x.time | date:'medium'}}
                  </div>
                </td>
                <td class="coins">
                  <div ng-show="x.coins[0]!=''">Coins</div>
                  {{ showCoins(x.coins[5]) }}<br>
                  {{ showCoins(x.coins[4]) }}<br>
                  {{ showCoins(x.coins[3]) }}<br>
                  {{ showCoins(x.coins[2]) }}<br>
                  {{ showCoins(x.coins[1]) }}<br>
                  {{ showCoins(x.coins[0]) }}<br><br>
                </td>
              </tr></table>
            </td>

            <td class="card throw">
              <table><tr>
                <td class="hexagram">
                  <div ng-show="x.coins[0]!=''">
                    Present<br>
                  </div>
                  <div class="hexborder" ng-show="x.coins[0]!=''">
                    {{ linePatterns[x.hexagramNow.lines[5]] }}<br>
                    {{ linePatterns[x.hexagramNow.lines[4]] }}<br>
                    {{ linePatterns[x.hexagramNow.lines[3]] }}<br>
                    {{ linePatterns[x.hexagramNow.lines[2]] }}<br>
                    {{ linePatterns[x.hexagramNow.lines[1]] }}<br>
                    {{ linePatterns[x.hexagramNow.lines[0]] }}
                  </div>
                </td>
                <td class="decoder present" ng-show="x.coins[5]!=''">
                  <br>
                  <div class="hexselect">

                    <a ng-href="{{ iChingInfo[iChingWeb].Hexagrams[x.hexagramNow.number-1].url }}" target="_blank">{{ iChingInfo[iChingWeb].Hexagrams[x.hexagramNow.number-1].Name }}</a>
                    <div class="dropdown hexlist">
                      <button class="dropbtn"> v </button>
                      <div class="dropdown-content">
                        <a ng-href="{{ iChingInfo[0].Hexagrams[x.hexagramNow.number-1].url }}" target="_blank">{{ iChingInfo[0].Hexagrams[x.hexagramNow.number-1].Name }} --- from {{ iChingInfo[0].Short }}</a>
                        <a ng-href="{{ iChingInfo[1].Hexagrams[x.hexagramNow.number-1].url }}" target="_blank">{{ iChingInfo[1].Hexagrams[x.hexagramNow.number-1].Name }} --- from {{ iChingInfo[1].Short }}</a>
                        <a ng-href="{{ iChingInfo[2].Hexagrams[x.hexagramNow.number-1].url }}" target="_blank">{{ iChingInfo[2].Hexagrams[x.hexagramNow.number-1].Name }} --- from {{ iChingInfo[2].Short }}</a>
                        <a ng-href="{{ iChingInfo[3].Hexagrams[x.hexagramNow.number-1].url }}" target="_blank">{{ iChingInfo[3].Hexagrams[x.hexagramNow.number-1].Name }} --- from {{ iChingInfo[3].Short }}</a>
                        <a ng-href="{{ iChingInfo[4].Hexagrams[x.hexagramNow.number-1].url }}" target="_blank">{{ iChingInfo[4].Hexagrams[x.hexagramNow.number-1].Name }} --- from {{ iChingInfo[4].Short }}</a>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="trigram2">{{ x.hexagramNow.trigram2 }}<br></div>
                  {{ x.hexagramNow.trigram1 }}
                </td>
                <td class="hexagram">
                  <div ng-show="x.coins[0]!=''">
                    Future<br>
                  </div>
                  <div class="hexborder" ng-show="x.coins[0]!=''">
                    {{ linePatterns[x.hexagramNext.lines[5]] }}<br>
                    {{ linePatterns[x.hexagramNext.lines[4]] }}<br>
                    {{ linePatterns[x.hexagramNext.lines[3]] }}<br>
                    {{ linePatterns[x.hexagramNext.lines[2]] }}<br>
                    {{ linePatterns[x.hexagramNext.lines[1]] }}<br>
                    {{ linePatterns[x.hexagramNext.lines[0]] }}
                  </div>
                </td>
                <td class="decoder future"  ng-show="x.coins[5]!=''">
                  <br>
                  <div class="hexselect">
                    <a ng-href="{{ iChingInfo[iChingWeb].Hexagrams[x.hexagramNext.number-1].url }}" target="_blank">{{ iChingInfo[iChingWeb].Hexagrams[x.hexagramNext.number-1].Name }}</a>
                    <div class="dropdown hexlist">
                      <button class="dropbtn"> v </button>
                      <div class="dropdown-content">
                        <a ng-href="{{ iChingInfo[0].Hexagrams[x.hexagramNext.number-1].url }}" target="_blank">{{ iChingInfo[0].Hexagrams[x.hexagramNext.number-1].Name }} --- from {{ iChingInfo[0].Short }}</a>
                        <a ng-href="{{ iChingInfo[1].Hexagrams[x.hexagramNext.number-1].url }}" target="_blank">{{ iChingInfo[1].Hexagrams[x.hexagramNext.number-1].Name }} --- from {{ iChingInfo[1].Short }}</a>
                        <a ng-href="{{ iChingInfo[2].Hexagrams[x.hexagramNext.number-1].url }}" target="_blank">{{ iChingInfo[2].Hexagrams[x.hexagramNext.number-1].Name }} --- from {{ iChingInfo[2].Short }}</a>
                        <a ng-href="{{ iChingInfo[3].Hexagrams[x.hexagramNext.number-1].url }}" target="_blank">{{ iChingInfo[3].Hexagrams[x.hexagramNext.number-1].Name }} --- from {{ iChingInfo[3].Short }}</a>
                        <a ng-href="{{ iChingInfo[4].Hexagrams[x.hexagramNext.number-1].url }}" target="_blank">{{ iChingInfo[4].Hexagrams[x.hexagramNext.number-1].Name }} --- from {{ iChingInfo[4].Short }}</a>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="trigram2">{{ x.hexagramNext.trigram2 }}<br></div>
                  {{ x.hexagramNext.trigram1 }}
                </td>
              </tr></table>
            </td>
          </tr>
        </table>
      </div>
      
      <div ng-show="selTab == '1'">
              <div class="triBrowser">
                  The Trigrams:<br><br>
                  {{ trigramNames[0] }}<br>
                  {{ trigramNames[1] }}<br>
                  {{ trigramNames[2] }}<br>
                  {{ trigramNames[3] }}<br>
                  {{ trigramNames[4] }}<br>
                  {{ trigramNames[5] }}<br>
                  {{ trigramNames[6] }}<br>
                  {{ trigramNames[7] }}<br>
              </div>
              <div class="hexBrowser">
                  &#9775 Hexagram Browser:
                  <select ng-model="hexSel" ng-init="hexSel=54" ng-options="hex.id as hex.id for hex in hexNumbers"></select><br><br>
                  <a ng-href="{{ iChingInfo[0].Hexagrams[hexSel-1].url }}" target="_blank">{{ iChingInfo[0].Hexagrams[hexSel-1].Name }} --- from {{ iChingInfo[0].Short }}</a><br>
                  <a ng-href="{{ iChingInfo[1].Hexagrams[hexSel-1].url }}" target="_blank">{{ iChingInfo[1].Hexagrams[hexSel-1].Name }} --- from {{ iChingInfo[1].Short }}</a><br>
                  <a ng-href="{{ iChingInfo[2].Hexagrams[hexSel-1].url }}" target="_blank">{{ iChingInfo[2].Hexagrams[hexSel-1].Name }} --- from {{ iChingInfo[2].Short }}</a><br>
                  <a ng-href="{{ iChingInfo[3].Hexagrams[hexSel-1].url }}" target="_blank">{{ iChingInfo[3].Hexagrams[hexSel-1].Name }} --- from {{ iChingInfo[3].Short }}</a><br>
                  <a ng-href="{{ iChingInfo[4].Hexagrams[hexSel-1].url }}" target="_blank">{{ iChingInfo[4].Hexagrams[hexSel-1].Name }} --- from {{ iChingInfo[4].Short }}</a><br>

              </div>
      </div>
      
      <div ng-show="selTab == '2'">
        <div class="infoAbout">
          This program makes divining from the iChing quick and easy.<br>
          <br>
          I wrote a computer version of throwing the coins using a random number generator years ago.<br>
          I wanted to be able to focus on my question, without being distracted by recording my coin tosses.<br>
          I also wanted to decode and look up the resulting hexagrams easier.<br>
          This version looks up hexagrams on multiple websites to give more perspective on each hexagram.
          <br>
          Some may question if random numbers on the computer work the same as tossing coins or sticks.<br>
          I have found I continue to get the same wisdom, whichever way I divine the hexagrams.<br>
          <br>
          You can throw three coins each time and create each of the six lines individually with each click.<br>
          Or, you can throw the coins for all lines at once with a single click.<br>
          <br>
          Select which way you want to throw the coins, and enter a question.<br>
          When you are centered and focused on your question, click "Throw Coins".<br>
          <br>
          Hexagrams are decoded for the present and future using any change lines thrown.<br>
          Click on the hexagram number or name to see it explained by various websites.<br>
          <br>
          Use the "Lookup Hexagrams" pulldown list to select which website is used to explain the hexagrams.<br>
          <br>
          Hexagrams you have thrown can be saved for continued contemplation at a later time.<br>
          Data is saved in your browsers local data, so your data is private.<br>
          Also, no accounts need to be created on other sites.<br><br>
          <button ng-click="resetDivinations()">Delete iChing in Local Data</button> (You shouldn't need to do this)<br>
          <br>
          Click the iChing tab above to continue:<br>
        </div>
        <div class="txtLocalData">
          LocalData:<br>
          <textarea readonly type="text" class="boxLocalData" ng-model="txtLocalData" spellcheck="false" data-gramm="false"></textarea><br>
        </div>          
      </div>

    </div>
  </body>
</html>
