<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38649448-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-38649448-2');
    </script>

    <meta charset="utf-8">
    <title>iChing Hub</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

  <body ng-app="myApp">

    <script src="./iching-data.js"></script>
    <script src="ichingController.js"></script>

    <div ng-controller="iChingCtrl" ng-init="rbThrow.value='ThrowEach'; selTab='0'; iChingSite=5; hexSel=54; selSaved=0;">

      <div class="titleBar">
        <button class="btnAbout" ng-click="okAboutShow()">About</button>
          &nbsp;&nbsp;&nbsp;&nbsp;

        <div class="selBar" ng-show="selTab == '0'">
          <label id="lblSaved" for="saved">{{divinations.length-1}} Saved Reading(s):</label>
          <select class="tablink selSaved" name="saved" ng-change="highlightHexs(divinations[selSaved].hexagramNow.number, divinations[selSaved].hexagramNext.number)" 
            ng-model="selSaved" ng-options="x.id as x.idName for x in divinations">
          </select>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label id="lbllookup" for="lookup">Lookup Hexagrams:</label>
          <select class="tablink" name="lookup" ng-model="iChingSite" ng-options="iChingSite.id as iChingSite.Short for iChingSite in iChingSites">
          </select>
        </div>

        <div class="siteTitle">
          The 30 Spokes of the iChing
        </div>
      </div>
      <div ng-show="selTab == '0'">
        <div class="spokes30">
          <svg width="1200" height="1100">
            <defs>
              <filter id="f1" x="-40%" y="-40%" height="200%" width="200%">
                <feOffset result="offOut" in="SourceAlpha" dx="4" dy="4" />
                <feGaussianBlur result="blurOut" in="offOut" stdDeviation="8" />
                <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
              </filter>
            </defs>
            <circle cx="560px" cy="542px" r="535" stroke="red" stroke-width="1" fill="black" filter="url(#f1)" />
            <circle cx="560px" cy="542px" r="515" stroke="red" stroke-width="1" fill="dimgrey" />
            <circle cx="560px" cy="542px" r="353" stroke="red" stroke-width="1" fill="black" />
            <circle cx="560px" cy="542px" r="325" stroke="red" stroke-width="1" fill="white" />
            <circle cx="560px" cy="542px" r="163" stroke="red" stroke-width="1" fill="black" />
            <circle cx="560px" cy="542px" r="129" stroke="red" stroke-width="1" fill="white" />
          </svg>
          <div class="youInCenter">
            Y&#9775U
          </div>
          <div ng-repeat="i in spokeInfoLeft">
            <div class="{{i.classes}}" style="transform: rotate({{i.angle}}deg)">
              <div class="spokeNbrL">{{i.id}} -</div>
              <div class="hexInnerL hex{{i.hexInner}}">
                <a ng-href="{{ getHexagram(iChingSite, i.hexInner-1).url }}" target="_blank">{{ getHexagram(iChingSite, i.hexInner-1).Name.substring(0,22) }}</a>
              </div>
              <div class="ring"> :: </div>  
              <div class="hexOuterL hex{{i.hexOuter}}">
                <a ng-href="{{ getHexagram(iChingSite, i.hexOuter-1).url }}" target="_blank">{{ getHexagram(iChingSite, i.hexOuter-1).Name.substring(0,22) | iChingFlip }}</a>
              </div>
            </div>
          </div>
          <div ng-repeat="i in spokeInfoRight">
            <div class="{{i.classes}}" style="transform: rotate({{i.angle}}deg)">
              <div class="spokeNbrR">- {{i.id}}</div>
              <div class="hexInnerR hex{{i.hexInner}}">
                <a ng-href="{{ getHexagram(iChingSite, i.hexInner-1).url }}" target="_blank">{{ getHexagram(iChingSite, i.hexInner-1).Name.substring(0,22) | iChingFlip }}</a>
              </div>
              <div class="ring"> :: </div> 
              <div class="hexOuterR hex{{i.hexOuter}}">
                <a ng-href="{{ getHexagram(iChingSite, i.hexOuter-1).url }}" target="_blank">{{ getHexagram(iChingSite, i.hexOuter-1).Name.substring(0,22) }}</a>
              </div> 
            </div>
          </div>
          <div class="{{noSpokeInfo[0].classes}} hex{{noSpokeInfo[0].hex}}"> 
            <a ng-href="{{ getHexagram(iChingSite, noSpokeInfo[0].hex-1).url }}" target="_blank">{{ getHexagram(iChingSite, noSpokeInfo[0].hex-1).Name.substring(0,16) }}</a>
          </div>
          <div class="{{noSpokeInfo[1].classes}} hex{{noSpokeInfo[1].hex}}"> 
            <a ng-href="{{ getHexagram(iChingSite, noSpokeInfo[1].hex-1).url }}" target="_blank">{{ getHexagram(iChingSite, noSpokeInfo[1].hex-1).Name.substring(0,16) }}</a>
          </div>
          <div class="{{noSpokeInfo[2].classes}} hex{{noSpokeInfo[2].hex}}"> 
            <a ng-href="{{ getHexagram(iChingSite, noSpokeInfo[2].hex-1).url }}" target="_blank">{{ getHexagram(iChingSite, noSpokeInfo[2].hex-1).Name.substring(0,16) }}</a>
          </div>
          <div class="{{noSpokeInfo[3].classes}} hex{{noSpokeInfo[3].hex}}"> 
            <a ng-href="{{ getHexagram(iChingSite, noSpokeInfo[3].hex-1).url }}" target="_blank">{{ getHexagram(iChingSite, noSpokeInfo[3].hex-1).Name.substring(0,16) | iChingFlip }}</a>
          </div>
          <div class="controlsWheel">
            <div  ng-show="selSaved==0">
              <input type="radio" ng-model="rbThrow.value" value="ThrowEach">Each line<br>
              <input type="radio" ng-model="rbThrow.value" value="ThrowAll">All at once<br>
              <button id="btnThrow" ng-click="ThrowCoins()">Throw Coins</button><br>
              <br><br>
              <button ng-show="divinations[0].coins[0] != ''" ng-click="clearDivination()">Clear</button><br>
              <button ng-show="divinations[0].coins[5] != ''" ng-click="saveDivination()">Save</button>
            </div>
          </div>
          <div class="questionWheel">
            <div ng-show="selSaved==0">
              <textarea type="text" class="boxQuestion" ng-model="divinations[selSaved].question.value" spellcheck="false" data-gramm="false" placeholder='Enter your question here and click "Throw Coins"'></textarea><br>
            </div>
            <!-- for saved throws, readonly textarea (for now) -->
            <div ng-show="selSaved>0">
              <textarea readonly type="text" class="boxQuestion" ng-model="divinations[selSaved].question.value" spellcheck="false" data-gramm="false"></textarea><br>
              <div class="timeWheel">
                Time:<br>
                on {{divinations[selSaved].time | date:'mediumDate'}}<br>
                at {{divinations[selSaved].time | date:'mediumTime'}}<br>
                <br><br>
                <button ng-click="deleteDivination(selSaved)">Delete</button><br>
                {{ selSaved }} of {{ divinations.length-1 }} saved
              </div>
            </div>
          </div>
          <div class="readingCoins" ng-show="divinations[selSaved].coins[0]!=''">
            <div class="coins coinsWheel">
              Coins:<br>
              <div class="coinsBorder">
                <div ng-repeat="x in lineOrder">{{ divinations[selSaved].coins[x.id] | iChingCoins }}<br></div>
              </div>
            </div>
            <div class="hexagram hexNowWheel">
              Present<br>
              <div class="hexBorder hexNow">
                <div ng-repeat="x in lineOrder">{{ divinations[selSaved].hexagramNow.lines[x.id] | iChingLines }}<br></div>
              </div>
            </div>
          </div>
          <div class="reading" ng-show="divinations[selSaved].coins[5]!=''">
            <div class="hexNowLinksWheel">
              <div class="hexLink"> 
                <a ng-href="{{ getHexagram(iChingSite, divinations[selSaved].hexagramNow.number-1).url }}" target="_blank">{{ getHexagram(iChingSite, divinations[selSaved].hexagramNow.number-1).Name }}</a>
              </div>
              <div class="dropdown hexlist">
                <button class="dropbtn"> v </button>
                <div class="dropdown-content">
                  <a ng-repeat="site in iChingSites" ng-href="{{ getHexagram(site.id, divinations[selSaved].hexagramNow.number-1).url }}" target="_blank">{{ getHexagram(site.id, divinations[selSaved].hexagramNow.number-1).Name }} --- from {{ iChingSites[site.id].Short }}</a>
                </div>
              </div>
              <br><br>
              <div class="trigram2">{{ divinations[selSaved].hexagramNow.trigram2 }}<br></div>
                {{ divinations[selSaved].hexagramNow.trigram1 }}
              </div>
              <div class="hexagram hexNextWheel">
                Future<br>
                <div class="hexBorder hexNext">
                  <div ng-repeat="x in lineOrder">{{ divinations[selSaved].hexagramNext.lines[x.id] | iChingLines }}<br></div>
                </div>
              </div>
              <div class="hexNextLinksWheel">
                <div class="hexLink"> 
                  <a ng-href="{{ getHexagram(iChingSite, divinations[selSaved].hexagramNext.number-1).url }}" target="_blank">{{ getHexagram(iChingSite, divinations[selSaved].hexagramNext.number-1).Name }}</a>
                </div>
                <div class="dropdown hexlist">
                  <button class="dropbtn"> v </button>
                  <div class="dropdown-content">
                    <a ng-repeat="site in iChingSites" ng-href="{{ getHexagram(site.id, divinations[selSaved].hexagramNext.number-1).url }}" target="_blank">{{ getHexagram(site.id, divinations[selSaved].hexagramNext.number-1).Name }} --- from {{ iChingSites[site.id].Short }}</a>
                  </div>
                </div>
                <br><br>
                <div class="trigram2">{{ divinations[selSaved].hexagramNext.trigram2 }}<br></div>
                  {{ divinations[selSaved].hexagramNext.trigram1 }}
                </div>
              </div>
            </div>
          </div>          

          <div class="iChingInfo">
            <div class="iChingInfoCol2">
               <div class="imgbox"><img src="image149.jpg"></div>
               <br>
               <div class="imgbox"><img src="image150.jpg"></div>
            </div>
            <div class="iChingInfoCol1">
              <div class="triBrowser">
                The Trigrams:<br><br>
                <div ng-repeat="x in trigramNames">{{ trigramNames[$index] }}<br></div>
              </div>
              <br><br>
                
              <div class="hexBrowser">
                &#9775 Hexagram Browser:
                <select ng-model="hexSel" ng-options="hex.id as hex.id for hex in hexInfo"></select><br><br>
                <a ng-repeat="site in iChingSites" ng-href="{{ getHexagram(site.id, hexSel-1).url }}" target="_blank">{{ getHexagram(site.id, hexSel-1).Name }} --- from {{ iChingSites[site.id].Short }}</a><br>
              </div>
              <br><br>
              These four (hexagrams #1, #2, #29, #30) in indistinction,<br>
              are right with empty non-being.<br><br>
              Sixty hexagrams revolve around them,<br>
              outspread like a chariot.<br>
              Harnessing a dragon and a mare,<br><br>
              The enlightened ruler holds the reins of time.<br>

              -- Wei Boyang (Cantong Qi, Triplex unity, 2nd c. Taoist text)<br>
              <br>
              The thirty spokes unite in the one nave;<br>
              but it is the empty space for the axle, that makes the wheel useful.<br>
              -- Dao De Jing #11<br>
              <br>
              #1 Qian (Heaven) and #2 Kun (Earth) form the crucible and furnace within;<br>
              #29 Kan (Water) and #30 Li (Fire) are the medicinal substances<br>
              from which the Elixir is made.<br>
              <br>
              The rest of the sixty hexagrams consequently make up the firing times<br>
              – through which the Elixir is taken.<br>
              -- Master Shangyang (Commentary on Cantong Qi)<br>
              <br>
              Qian is represented in the heavens above, and Kun in the earth beneath.<br>
              They form the image of the axle and are the body of change.<br>
              Kan and Li rising and falling between them represent the hub<br>
              that turns upon the axle and make up the function of change.<br>
              <br>
              Within a human, Qian and Kun are the cauldron and the furnace<br>
              while Kan and Li make up the ingredients of the Elixir.<br>
              <br>
              Of the sixty-four hexagrams of the I Ching,<br>
              the reason Heaven ☰ and Earth ☷ are the gate and door<br>
              is to show people the path of firmness and flexibility, simplicity and readiness.<br>
              <br>
              The other sixty-two hexagrams show people the path of modification<br>
              of simplicity and readiness.<br>
              <br>
              The three hundred eighty-four lines of the sixty-four hexagrams all teach people<br>
              how to know when they are not simple and ready,<br>
              and to modify this so that they may eventually become simple and ready.<br>
              <br>
              Modification to simplicity and readiness means that awareness<br>
              and capability (to have self-awareness) are in their innate condition of innocence,<br>
              and one is a superior person.<br>
              <br>
              If one does not change to simplicity and readiness, then awareness and capacity are faulty,<br>
              and one is an inferior person.<br>
              <br>
              The difference between superior people and inferior people is simply a matter of whether<br>
              or not they know how to make this change. <br>
              <br>
              -- Liu Yiming (Taoist I Ching, The path of superior people is eternal, the path of inferior people is miserable.)
              <br><br><br><br>
              The Taiji and the Twelve Sovereign hexagrams.
               <div class="imgbox"><img src="image212.jpg"></div>
            </div>
          </div>

          <div class="aboutInfo">
            <div class="aboutTitleImg"><img src="image77.jpg"></div>
            <div class="aboutTitle">&#9775</div>

            This program makes divining from the iChing quick and easy.<br>
            <br>
            Enter your question. When you are centered on your question, click "Throw Coins".<br>
            <br>
            The coins you throw are decoded into hexagrams for the present and future, showing any change lines.<br>
            Your hexagrams are also highlighted on the 30 Spokes of the wheel.<br>
            <br>
            Your reading is the elixer you need now to get back to the center and be simple and correct.<br>
            <br>
            You can click on any hexagrams name to see it explained from various websites.<br>
            This includes all the hexagrams on the spokes of wheel.<br>
            Use the "Lookup Hexagrams" pulldown list to select which website is used to explain the hexagrams.<br>
            <br>
            You can save your readings for continued contemplation at a later time.<br>
            Click the "Save" button on any new reading to save it.<br>
            Use the "Saved Readings" pulldown list to select which saved reading to view, or go back to a new reading.<br>
            <br>
            Readings are saved in your browsers local data, so your data is private, and no accounts need to be created.<br>
            I will add a feature to save data to the server so you can see readings from other devices (coming soon).<br>
            <br><br>
            <div class="deleteLocal">
              <button ng-click="resetDivinations()">Delete iChing in Local Data</button><br>
              (You shouldn't need to do this)<br>
              <br>
            </div>
            <a href="mailto:mmelmers@gmail.com">Contact Site Designer</a>
            <button class="okAbout" ng-click="okAboutHide()">OK</button>
<!--
            <div class="txtLocalData">
              LocalData:<br>
              <textarea readonly type="text" class="boxLocalData" ng-model="txtLocalData" spellcheck="false" data-gramm="false"></textarea><br>
            </div>
-->          
          </div>    <!-- aboutInfo      -->

        </div>      <!-- spokes30       -->
      </div>        <!-- selTab=0       -->

    </div>          <!-- controller     -->
  </body>
</html>
