
.card {
  border: 1px solid #666;
  height:180px;
  padding:20px;
  float:left;
}
.coins {
  width:50px;
  vertical-align:text-top;
}
.hexagram {
  width:90px;
  font-family:"Courier New", Courier, monospace;
  font-size:14px;
  font-weight:bold;
  line-height:156%;
  text-align:center;
  vertical-align:text-top;
}
.hexborder {
  border: 1px solid #666;
}
.buttons {
  width:140px;
}
.question {
  width:300px;
}
.boxQuestion {
  width:100%;
  height:110px;
  overflow:auto;
  resize:none;
}
.throw {
  width:600px;
}
.decoder {
  padding-left:20px;
}
.hexlink {
  text-decoration:underline;
  cursor:pointer;
  color:blue;
}
.lblLookup {
  float:right;
}

// stuff for integrated iframe (dropped)
.XXXHexPage {
  width:100%;
  height:480px;
}

.XXXlistChings {
  list-style-type: none;
//  white-space: nowrap;
}

.XXXiching-display {
  height: 224px;
  overflow:auto;
  scroll-snap-type: y mandatory;
}

.XXXlistChing {
  scroll-snap-align: start;
}

.infoAbout {
  padding-left: 30px;
  color:blue;
  display:block;
  float:left;
}

.txtLocalData {
  padding-left: 30px;
  display:none;
  float:left;
}

.boxLocalData {
  width:700px;
  height:600px;
  overflow:auto;
  resize:none;
}

.tablink {
  display: inline-block;
}