.card {
  border: 1px solid #666;
  height:180px;
  padding:20px;
  float:left;
}
.coins {
  width:50px;
  line-height:130%;
  vertical-align:text-top;
}
.triBrowser {
  width:340px;
  display:block;
  float:left;
  margin-left:40px;
}
.hexBrowser {
  width: 600px;
  text-align:left;
  font-weight:normal;
  display:block;
  float:left;
}
.hexBrowser a {
  display:block;
  float:left;
}
.hexBrowserItem {
  width:30px;
  text-align:right;
  font-weight:normal;
  display: block;
  float: left;
}
.hexagram {
  width:90px;
  font-weight:bold;
  line-height:130%;
  text-align:center;
  vertical-align:text-top;
  padding-left:10px;
  padding-right:10px;
}
.hexborder {
  font-family:"Courier New", Courier, monospace;
  font-size:13.5px;
  font-weight:bold;
  border: 1px solid #666;
  background-color:lightcyan;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.trigram2 {
  border-bottom:1px solid #000;
}
.buttons {
  width:140px;
}
.question {
  width:335px;
}
.boxQuestion {
  width:280px;
  height:110px;
  overflow:auto;
  resize:none;
  margin-right:10px;
}
.throw {
  width:800px;
}
.decoder {
  vertical-align:text-top;
}
.hexlist {
  width:auto;
}
.hexlink {
  display: block;
  float: left;
}
.hexselect {
  border: 1px solid #666;
  padding-left: 5px;
}
.lblLookup {
  float:right;
}

.infoAbout {
  padding-left: 30px;
  color:blue;
  display:block;
  float:left;
}

.txtLocalData {
  padding-left: 30px;
  display:block;
  float:left;
}

.boxLocalData {
  width:700px;
  height:600px;
  overflow:auto;
  resize:none;
}

.tablink {
  display: inline-block;
}
.dropbtn {
  font-size: 12px;
  color: darkgray;
  background-color: white;
  border: none;
  display: block;
  padding-left: 50px;
}

.dropdown {
  position: relative;
  display: block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: -100px;
}

.dropdown-content a {
  color: black;
  padding: 6px 20px;
  min-width: 400px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
